doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Grill9

    //- Custom CSS links
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/foodhub.css')
    link(rel='stylesheet', href='/stylesheets/media_query.css')

    //- Google font link
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')

  body
    section#menu.product
      .container
        h2.section-title Most popular dishes
        p.section-text
          | Consectetur numquam poro nemo veniam eligendi rem adipisci quo modi
      h2.product-middle-heading 
      .products-grid
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Fried Chicken', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Fried Chicken 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Sushi Rolls', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Sushi Rolls
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Fried Egg', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Fried Egg
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?salads', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Salads
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Donuts', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Donuts
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ice Cream', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ice Cream
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Pancakes', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Pancakes 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Sushi Rolls', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Sushi Rolls
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Pad Thai', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Pad Thai
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Margherita Pizza', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Margherita Pizza 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Gyoza', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Gyoza
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Lobster Roll', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Lobster Roll
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Deviled Eggs', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Deviled Eggs 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Miso Soup', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Miso Soup
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Fruit Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Fruit Salad
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Chicken Nuggets', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Chicken Nuggets 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Creme Brulee', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Creme Brulee
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Cornbread', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Cornbread
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Caramel Apple', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Caramel Apple 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Shrimp Cocktail', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Shrimp Cocktail
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Greek Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Greek Salad
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Chicken Alfredo', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Chicken Alfredo 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Tempura', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tempura
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Chicken Caesar Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Chicken Caesar Salad
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Sashimi', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Sashimi
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Potato Salad', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Potato Salad
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Hot Dog', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hot Dog
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?French Fries', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name French Fries  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Omelette', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Omelette
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Burrito', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Burrito
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ramen', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ramen 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Muffin', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Muffin
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Tiramisu', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Tiramisu
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Nachos ', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Nachos  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Popcorn', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Popcorn
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Cucumber Salad ', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Cucumber Salad 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Guacamole', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name  Guacamole
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Clam Chowder ', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Clam Chowder 
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Caesar Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Caesar Salad
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Macaroni and Cheese', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Macaroni and Cheese 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Cheesecake', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Cheesecake
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Cobb Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Cobb Salad
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Peanut Butter and Jelly Sandwich', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name  Peanut Butter and Jelly Sandwich 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Pad Thai', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Pad Thai
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Quiche', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Quiche
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Gyoza ', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name  Gyoza  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Deviled Eggs', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Deviled Eggs
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ratatouille', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ratatouille
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Caprese Salad ', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Caprese Salad   
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Fajitas', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Fajitas
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Burger', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Burger
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ice Cream ', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ice Cream  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Tacos', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tacos
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Steak', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Steak
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ramen', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ramen  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Smoothie', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Smoothie
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Popcorn', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Popcorn  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Guacamole', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Guacamole  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Clam Chowder', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Clam Chowder
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Pita Bread', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Pita Bread  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Cobb Salad', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Cobb Salad  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Peanut Butter and Jelly Sandwich', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Peanut Butter and Jelly Sandwich
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Gyoza', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name   Gyoza
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Ratatouille', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Ratatouille  
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Spring Rolls', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Spring Rolls
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Bagel', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Bagel
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Pita Bread', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Pita Bread 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Cinnamon Roll', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Cinnamon Roll
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Chicken Curry', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Chicken Curry
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Lobster Bisque', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Lobster Bisque 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Croissant', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Croissant
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              
    //- Custom JS link
    script(src='/javascripts/script.js')

    //- Ionicon link
    script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
