doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Grill9

    //- Custom CSS links
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/foodhub.css')
    link(rel='stylesheet', href='/stylesheets/media_query.css')

    //- Google font link
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300;400;500;600;700;800;900&display=swap', rel='stylesheet')

  body
    section#menu.product
      .container
        h2.section-title Most popular dishes
        p.section-text
          | Consectetur numquam poro nemo veniam eligendi rem adipisci quo modi
      h2.product-middle-heading 
      .products-grid
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
        .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Biriyani', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Hyderabad Dum Biriyani
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        a.product-card(href='#')
          .product-card
            .img-box
              img.product-img(src='https://source.unsplash.com/500x500/?Mutton', alt='product image', width='200', loading='lazy')
            .product-content
              .wrapper
                h3.product-name Mutton Biriyani 
                p.product-price
                  span.small $
                  | 11
              p.product-text
                | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
              .product-rating
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
                ion-icon(name='star')
        .product-card
          .img-box
            img.product-img(src='https://source.unsplash.com/500x500/?Dosa', alt='product image', width='200', loading='lazy')
          .product-content
            .wrapper
              h3.product-name Tiffins
              p.product-price
                span.small $
                | 11
            p.product-text
              | Coffee beans, Water, Milk, Sugar, Cream, Cinnamon
            .product-rating
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              ion-icon(name='star')
              
    //- Custom JS link
    script(src='/javascripts/script.js')

    //- Ionicon link
    script(type='module', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule='', src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
